{#include file="_header.html"#}
<link href="ADMIN_PUBLIC/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="ADMIN_PUBLIC/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<title>添加权限节点</title>
</head>
<body>
	<div class="pd-20">
		<form action="" method="post" class="form form-horizontal" id="form-article-add">
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>节点编号：</label>
				<div class="formControls col-4">
					<input type="text" class="input-text" value="" placeholder="" disabled="disabled" id="" name="node_id">
				</div>
				<label class="form-label col-2"><span class="c-red">*</span>上级栏目：</label>
				<div class="formControls col-4">
					<span class="select-box">
						<select name="" class="select">
							<option value="0">全部栏目</option>
							<option value="1">新闻资讯</option>
							<option value="11">├行业动态</option>
							<option value="12">├行业资讯</option>
							<option value="13">├行业新闻</option>
						</select>
					</span> 
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2"><span class="c-red">*</span>节点名称：</label>
				<div class="formControls col-4">
					<input type="text" class="input-text" value="" placeholder="" id="" name="node_name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-2">备注：</label>
				<div class="formControls col-10">
					<input type="text" class="input-text" value="" placeholder="" id="" name="">
				</div>
			</div>
		</form>
	</div>
	{#include file="_footer.html"#}
	<script type="text/javascript" src="ADMIN_PUBLIC/lib/My97DatePicker/WdatePicker.js"></script> 
	<script type="text/javascript" src="ADMIN_PUBLIC/lib/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript" src="ADMIN_PUBLIC/lib/webuploader/0.1.5/webuploader.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.skin-minimal input').iCheck({
				checkboxClass: 'icheckbox-blue',
				radioClass: 'iradio-blue',
				increaseArea: '20%'
			});
		});
	</script>
</body>
</html>