{#include file="_header.html"#}
<link href="ADMIN_PUBLIC/css/style.css" rel="stylesheet" type="text/css"/>
<title>管理员列表</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span
        class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r mr-20"
        style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="pd-20">
        <form action="index.php?controller=admin" method="post" id="search_conditions">
            <div class="text-c"> 日期范围：
                <input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin"
                name="datemin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})"
                id="datemax" name="datemax" class="input-text Wdate" style="width:120px;">
                <input type="text" id="adminname" class="input-text" style="width:250px" placeholder="输入管理员名称"
                name="adminname">
                <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户
                </button>
            </div>
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="l"><a href="javascript:;" onclick="multitude_data_del()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="admin_add('添加管理员','index.php?controller=admin&amp;method=admin_add','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> <span class="r">共有数据：<strong>{#$admin_info_counts#}</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg">
            <thead>
                <tr class="text-c">
                    <th width="10"><input type="checkbox" name="" value=""></th>
                    <th width="60">登录名</th>
                    <th width="30">性别</th>
                    <th width="80">手机</th>
                    <th width="140">邮箱</th>
                    <th width="80">角色</th>
                    <th width="130">添加时间</th>
                    <th width="130">最后登录时间</th>
                    <th width="100">最后登录IP</th>
                    <th width="50">状态</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <!-- {#if $admin_infos#} -->
            <!-- {#foreach $admin_infos item=$infos#} -->
            <tbody>
                <tr class="text-c">
                    <td><input type="checkbox" value="{#$infos.id#}" name="subChecked"></td>
                    <td>{#$infos.admin_name#}</td>
                    <td>{#$infos.sex#}</td>
                    <td>{#$infos.tel#}</td>
                    <td>{#$infos.email#}</td>
                    <td>{#$infos.role_name#}</td>
                    <td>{#date('Y-m-d H:i:s',$infos.add_time)#}</td>
                    <td>{#if $infos.last_login_time#}{#date('Y-m-d H:i:s',$infos.last_login_time)#}{#else#}从未登录{#/if#}</td>
                    <td>{#if $infos.last_ip#}{#$infos.last_ip#}{#else#}从未登录{#/if#}</td>
                    <td class="td-status">{#if $infos.is_enable eq 1 #}<span class="label label-success radius">已启用</span>{#elseif
                        $infos.is_enable eq 0 #}<span class="label label-defaunt radius">已冻结</span>{#/if#}
                    </td>
                    <td class="td-manage">
                        {#if $infos.is_enable eq 1#}<a style="text-decoration:none" onclick="admin_stop(this,{#$infos.id#})"
                        href="javascript:;" title="冻结"><i class="Hui-iconfont">&#xe60e;</i></a>{#elseif
                        $infos.is_enable eq 0 #}<a style="text-decoration:none" onclick="admin_start(this,{#$infos.id#})"
                        href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe605;</i></a>{#/if#}<a
                        title="编辑" href="javascript:;"
                        onclick="admin_edit('管理员编辑','index.php?controller=admin&amp;method=admin_edit&amp;id={#$infos.id#}','800','500')"
                        class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a><a title="删除"
                        href="javascript:;"
                        onclick="admin_del(this,{#$infos.id#})"
                        class="ml-5"
                        style="text-decoration:none"><i
                        class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
            </tbody>
            <!-- {#/foreach#} -->
            <!-- {#else#} -->
            <tbody>
                <tr>
                    <td colspan="11">没有找到任何数据</td>
                </tr>
            </tbody>
            <!-- {#/if #} -->
        </table>
    </div>
    {#include file="_footer.html"#}
    <script type="text/javascript" src="ADMIN_PUBLIC/lib/laypage/1.2/laypage.js"></script> 
    <script type="text/javascript" src="ADMIN_PUBLIC/lib/My97DatePicker/WdatePicker.js"></script> 
    <script type="text/javascript" src="ADMIN_PUBLIC/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <!-- 加载admin-list.js -->
    <script type="text/javascript" src="ADMIN_PUBLIC/js/admin-manage/admin-list.js"></script>
    <script type="text/javascript">
        $(function(){
            var DefaultStartDate=setDefaultStartDate();
            var DefaultEndDate=setDefaultEndDate();
            $("#datemin").attr({
                value:DefaultStartDate, 
            });
            $("#datemax").attr({
                value: DefaultEndDate, 
            });
        });
    </script>
</body>
</html>